body{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size:1.2rem;
    line-height: 1.6em;
    margin:0;
}
p {
    margin-bottom: 1.6em;
}
    
p{
    font-family: Arial, Helvetica, sans-serif;
    font-size:30px;
    margin-left: 90px;
}    
        
.container{
    width:85%;
    max-width: 850px;
    margin:0 auto;
}

.header {
  background:rgb(128, 125, 125);
  color:white;
  padding:2rem 0;


}
  .header a{
      color:white;
      text-decoration: none;

  }
.Tienda-nav-container {
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.Tienda{
    letter-spacing: 15px;
    font-size: 1.3em;

}
.navigation ul {
   margin:0;
   padding: 0cm; 
   list-style: none;
}
.navigation ul li {
    display:inline-block;
}

.navigation ul li a {
    display:block;
    padding: 0.5rem 1 rem;
    transition: all 0.4s linear;
    border-radius: 5px;
}
.navigation ul li a:hover {
    background:rgb(180, 136, 136);
}

.footer {
    background: #f2f2f2;
    padding: 4 rem 0;
    text-align:center ;

}
       
li{
    list-style:none;
    box-shadow:5px,5px;
    margin-left:50px ;
    
} 
.boton1{
    background-color:rgba(37, 33, 33, 0.555) ;
    color:white;
    border-radius:10px;
    text-align: center;
    height: 50px;
    width: 100px;
    font-size:20px;
    margin-top:30px;
    text-align: center;
    margin-right: 150px;
    margin-left: 50px ;
    

    
    
    }

 
.boton2{
    background-color:rgba(37, 33, 33, 0.555) ;
    color:white;
    border-radius:10px;
    text-align:center;
    height: 50px;
    width: 100px;
    font-size:20px;
    margin-top:30px;
}

.h3{
    background-color:rgb(133, 124, 124);
    color:white;        
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin-inline-start:0px;
    width: 800px;
    padding: 10px;
    margin-top: 5px;

}
.h4{
    
    font-size: 20px;
    margin-top:2px ;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:bold ;
    margin-inline-start:0px;
    padding:10px;
    margin-top:5px ;
    

}
.h5{
    
    margin-top:2px ;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:bold ;
    margin-inline-start:0px;
    padding:10px;
    margin-top:5px ; 


}

    
    .contenedor-dos button {       
    background-color:rgba(92, 88, 88, 0.555) ;
    color:white;
    border-radius:10px;
    font-size: 20px;  
    height: 40px;
    width: 100px;
    margin-inline: 150px;
    margin: 10px;
    display:inline-flex;
   
                   
    
     
    }

   
    
    .cont_nav{
        
        margin-left:0px ;
        margin-top: 40px;
        padding-top: 50px;
        padding-left:20px;
        padding-right:10px ;
        width:800px;
       
    
    }
    .botona{
        background-color:rgba(37, 33, 33, 0.555) ;
        color:white;
        border-radius:10px;
        text-align: center;
        height: 50px;
        width: 100px;
        font-size:20px;
        margin-top:30px;
        text-align: center;
        margin-right: 300px;
        margin-left: 300px ;
    }
    .botonb{
            background-color:rgba(37, 33, 33, 0.555) ;
            color:white;
            border-radius:10px;
            text-align: center;
            height: 50px;
            width: 100px;
            font-size:20px;
            margin-top:30px;
            text-align: center;
            margin-right: 150px;
            margin-left: 50px ;
    }
    .botonc{
        background-color:rgba(37, 33, 33, 0.555) ;
        color:white;
        border-radius:10px;
        text-align: center;
        height: 50px;
        width: 100px;
        font-size:20px;
        margin-top:30px;
        text-align: center;
        margin-right: 150px;
        margin-left: 50px ;
    }
    .botond{
        background-color:rgba(37, 33, 33, 0.555) ;
        color:white;
        border-radius:10px;
        text-align: center;
        height: 50px;
        width: 100px;
        font-size:20px;
        margin-top:30px;
        text-align: center;
        margin-right: 150px;
        margin-left: 50px ;
    }
    
    
    main{
        display:flex ;
    }
    .formulario1{
        float:left;
    }
    .formulario2{
        float:right;
    }